// @mixin border-radius($radius) {
// 	-webkit-border-radius: $radius;
// 	-moz-border-radius: $radius;
// 	-ms-border-radius: $radius;
// 	border-radius: $radius;
// }

// Большая кнопка с градиентом
@mixin btn-big-gradient {
	color: #fff;
	border: none;
	margin: 1rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	background: linear-gradient(135deg, #a6845e, #d6bfa5);
	transition: transform 0.2s ease, box-shadow 0.3s ease;
	box-shadow: 0 0 0px rgba(0, 0, 0, 0);
	transition: background-color 0.3s;

	&:hover {
		background-color: #8a6c4a;
		transition: all 0.3s ease-in-out;
		transform: translateY(-4px);
		box-shadow: 0 8px 16px rgba(139, 105, 64, 0.3);
		/* тёплый мягкий свет */
	}
}